<!-- <div *ngIf="auth.isAuthenticated()"> -->
<div>
    <div class="container">
        <div *ngIf="fileUploadResponse">
            <ngb-alert [type]="fileUploadResponseAlertType" [dismissible]="false">{{ fileUploadResponse }}</ngb-alert>
        </div>        
        <div>
            <ul>
                <li *ngFor="let file of files">
                    <ngb-progressbar type="dark" textType="white" [value]="file.progress" showValue="true"
                        ng-show="file.inProgress"></ngb-progressbar>
                    <span id="file-label">
                    </span>
                </li>
            </ul>
        </div>
        <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="*"
            style="display:none;" />
        <button mat-raised-button class="btn btn-dark mt-3" (click)="upload()">
            <i class="fas fa-file-upload"></i>
            Add Files
        </button>
        <table class="table table-striped table-hover mt-3" >
            <thead>
                <tr>
                    <!-- <th width="5%" scope="col"></th>
                    <th width="20%" scope="col">File Name</th>
                    <th width="10%" scope="col">Type</th>
                    <th width="10%" scope="col">Size</th> -->
                    <!-- <th width="20%" scope="col">Content</th> -->

                    <th scope="col"></th>
                    <th scope="col">File Name</th>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Type</th>
                    <th scope="col">Size</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let document of documents| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize ; index as i ">
                    <th><a (click)="delete(document.id)" ><i class="fas fa-trash"></i></a></th>
                    <th>{{document.fileName}}</th>
                    <th>{{document.title}}</th>
                    <th>{{document.author}}</th>
                    <th>{{document.fileType}}</th>
                    <th>{{document.size}}</th>
                    <!-- <th>{{document.content}}</th> -->
<!--                     <th>
                          <a (click)="toggleFold(i)" ><i class="fas fa-arrows-alt"></i></a>
                          <div class="card-body" [@panelState]="folded[i]">
                            {{document.content}}
                          </div>                        
                    </th> -->
                </tr>
            </tbody>
        </table>
    
        <div class="d-flex justify-content-between p-2" *ngIf="documents != null">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="documents.length"></ngb-pagination>
        </div>
    </div>
</div>